backend/a4gproxy/a4gproxy-integration/src/main/resources/wsdl/catasto/immobileService/ImmobilePortType_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.taa.it/AutorizzazioneFaultType/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.regione.taa.it/AutorizzazioneFaultType/schemas" xmlns:ex="http://www.regione.taa.it/FaultType/schemas">
  <xs:import namespace="http://www.regione.taa.it/FaultType/schemas" schemaLocation="ImmobilePortType.xsd"/>
  <xs:annotation>
    <xs:documentation>Contiene le eccezioni specifiche per le logiche autorizzative dei servizi del libro fondiario e del catasto</xs:documentation>
  </xs:annotation>
  <xs:complexType final="restriction" name="AutorizzazioneLocazioneFaultType">
    <xs:annotation>
      <xs:documentation>Fault che viene sollevata se il client non e' autorizzato a richiedere le informazioni di un'entita' ubicata in una certa zona geografica (il comune catastale).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ex:CustomFaultType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutorizzazioneLocazioneFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="error" type="tns:AutorizzazioneLocazioneFaultType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>