backend/a4gproxy/a4gproxy-integration/src/main/resources/wsdl/catasto/particellaService/ParticellaPortType_1_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.catasto.regione.taa.it/AutorizzazioneCatastoFaultType/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.catasto.regione.taa.it/AutorizzazioneCatastoFaultType/schemas" xmlns:ex="http://www.regione.taa.it/FaultType/schemas">
  <xs:import namespace="http://www.regione.taa.it/FaultType/schemas" schemaLocation="ParticellaPortType.xsd"/>
  <xs:annotation>
    <xs:documentation>Contiene le eccezioni specifiche dei servizi del libro fondiario</xs:documentation>
  </xs:annotation>
  <xs:complexType final="restriction" name="AssenzaRichiedenteFaultType">
    <xs:annotation>
      <xs:documentation>Fault che viene sollevata se il client non specifica il richiedente che sta richiamando il servizio.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ex:CustomFaultType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType final="restriction" name="AutorizzazioneProprietaFaultType">
    <xs:annotation>
      <xs:documentation>Fault che viene sollevata se il client non e' autorizzato a richiedere le informazioni di un'entita' che non e' di proprieta' del richiedente.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ex:CustomFaultType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssenzaRichiedenteFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="error" type="tns:AssenzaRichiedenteFaultType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizzazioneProprietaFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="error" type="tns:AutorizzazioneProprietaFaultType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>